{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h2 class="text-center">商品一覧</h2>
        <div id="myModal" class="modal fade" tabc_index="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark float-right" href="{% url 'index' %}">戻る</a>
                    {% if user.is_authenticated and user.is_staff == False %}
                        <a class="btn btn-outline-dark" href="{% url 'reservation_list' user.id %}">購入履歴</a>
                    {% endif %}
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for item in object_list %}
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                            <div class="row">
                                {% if item.photo %}
                                    <img src="{{item.photo.url}}" class="img-fluid img-thumbnail float-right" width="25%" height="auto"/>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>種類</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.vegetable|default_if_none:"未入力" }} : {{item.unit_amount}}セット</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>在庫</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{item.quontity_left}}セット</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>商品ランク</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.get_rank_display|default_if_none:"未分類" }}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>1セット単価</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.price|default_if_none:"未分類" }}円</p>
                                </div>
                            </div>

                            {% if item.tags.all%}
                                <div class="row">
                                    <div class="col-5 col-sm-3">
                                        <p>訳あり理由</p>
                                    </div>
                                    <div class="col-7 col-sm-9">
                                        {% for tag in item.tags.all %}
                                            <p>{{ tag.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>販売元</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.I_name.farm_name|default_if_none:"未入力"}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>購入期限</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.deadline|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a>
                                        {% if  user.is_staff == False %}
                                            <a class="btn btn-warning float-right" href="{% url 'book' item.pk %}">購入</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    <!--<a class="btn btn-outline-dark" href="{% url 'create' %}">新規需要</a>-->
                    <a class="btn btn-outline-dark float-right" href="{% url 'index' %}">戻る</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
