

<div class="row">
    {% if f_item.photo %}
        <img src="{{f_item.photo.url}}" class="img-fluid img-thumbnail float-right" width="25%" height="auto"/>
    {% endif %}
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>種類</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.vegetable.name|default_if_none:"未入力" }} ： {{f_item.unit_amount}}セット</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>1セット単価</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>￥{{  f_item.price|default_if_none:"0" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>商品ランク</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.get_rank_display|default_if_none:"未分類" }}</p>
    </div>
</div>

{% if f_item.tags.all %}
    <div class="row">
        <div class="col-5 col-sm-3">
            <p>訳あり理由</p>
        </div>
        <div class="col-7 col-sm-9">
            {% for tag in f_item.tags.all %}
                <p>{{ tag.name }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if user.is_staff %}
    <div class="row">
        <div class="col-5 col-sm-3">
            <p>出品量</p>
        </div>
        <div class="col-7 col-sm-9">
            <p>{{f_item.quontity}}セット</p>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-5 col-sm-3">
        <p>在庫</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{f_item.quontity_left}}セット</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>備考</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  f_item.memo|default_if_none:"未入力" }}</p>
    </div>
</div>

<br>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>出品者</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.created_by.get_full_name|default:"未入力"}}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>販売元</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.created_by.farm_name|default:"未入力" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>出品時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>購入期限</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.deadline|date:"Y年m月d日" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>更新時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ f_item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
