
{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <h2 class="text-center">注文一覧</h2>
        <div id="myModal" class="modal fade" tabc_index="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="item_reservation_list">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark float-right" href="{% url 'supply_list' pk %}">戻る</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for item in object_list %}
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>購入者</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.subscriber.get_full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  {% if item.photo %}
                                      <img src="{{item.target.photo.url}}" class="img-fluid img-thumbnail float-right" width="100%" height="auto"/>
                                  {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>購入数量</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{item.quontity}}セット</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>購入金額</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{item.total_price}}セット</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>商品ランク</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.target.get_rank_display|default_if_none:"未分類" }}</p>
                                </div>
                            </div>
                            {% if item.target.tags.all%}
                                <div class="row">
                                    <div class="col-5 col-sm-3">
                                        <p>訳あり理由</p>
                                    </div>
                                    <div class="col-7 col-sm-9">
                                        {% for tag in item.target.tags.all %}
                                            <p>{{ tag.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>購入日時</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.created_at|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'reservation_detail' item.pk %}">詳細</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="float-right mt-1 mb-3">
                        <!--<a class="btn btn-outline-dark" href="{% url 'create' %}">新規需要</a>-->
                        <a class="btn btn-outline-dark float-right" href="{% url 'supply_list' pk %}">戻る</a>
                        <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
