{% extends "./_base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">廃棄野菜のランクについて</h1>
    <br><br>
    <font size='5'>廃棄野菜は正規品とは違って見た目や大きさ、味などの状態が様々であり、その状態ごとにランク付けがされています。</font>
    <br><br><p></p>
    <h1>ランクと説明</h1><br>
    <h1>Aランク</h1>
    <font size='5'>販売品。状態のよい野菜。価格目安は正規品と同じくらい。</font>
    <br><p></p>
    <h1>Bランク</h1>
    <font size='5'>販売用わけあり品。状態はA品に劣るが、小売店等で売っていることもある。価格目安はA品の50~80%。</font><br><br><p></p>
    <h1>Cランク</h1>
    <font size='5'>販売不適可食品。食べられるが、見た目や味などの点でA、B品に劣る。価格目安はA品の50%未満。</font><br><br><p></p>
    <h1>Dランク</h1>
    <font size='5'>可食無洗浄無選別品。食べられる部位もあるが、状態が悪い。価格目安は0円。</font><br><br><p></p>
    <h1>Gランク</h1>
    <font size='5'>A,B,Cランクの野菜ではあるが、農家からの好意で無償で提供されるもの。</font><br><br><p></p>

</div>


{% endblock %}
