{% extends "./_base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">廃棄野菜のランクについて</h1>
    <br><br>
    <p>廃棄野菜は正規品とは違って見た目や大きさ、味などの状態が様々であり、その状態ごとにランク付けがされています。</p>
    <br>
    <h2>ランクと説明</h2><br>
    <h2>Aランク</h2>
    <p>販売品。状態のよい野菜。価格目安は正規品と同じくらい。</p><br>
    <h2>Bランク</h2>
    <p>販売用わけあり品。状態はA品に劣るが、小売店等で売っていることもある。価格目安はA品の50~80%。</p><br>
    <h2>Cランク</h2>
    <p>販売不適可食品。食べられるが、見た目や味などの点でA、B品に劣る。価格目安はA品の50%未満。</p><br>
    <h2>Dランク</h2>
    <p>可食無洗浄無選別品。食べられる部位もあるが、状態が悪い。価格目安は0円。</p><br>
    <h2>Gランク</h2>
    <p>A,B,Cランクの野菜ではあるが、農家からの好意で無償で提供されるもの。</p><br>

</div>


{% endblock %}