{% extends "./_base.html" %}
{% block content %}

<div class="container">
  <br><br>
    <h1 class="text-center">廃棄野菜のランクについて</h1>
    <br><br><br>
    <h5>廃棄野菜は正規品とは違って見た目や大きさ、味などの状態が様々であり、その程度ごとにランク付けがされています。</h5>
    <h5>同ランクの野菜でも状態は様々ですが、「どの程度規格外なのか」という目安の一つとしてご活用ください。</h5>
    <br><br><p></p>
    <h2>ランクと説明</h2><br><p class="border-bottom"></p><br>
    <h3>Aランク</h3>
    <font size='4'>一般流通品。スーパーなどで購入できる野菜と同じ状態のよい野菜。<br>価格目安は正規品と同じくらい。</font>
    <br><br><p></p>
    <h3>Bランク</h3>
    <font size='4'>販売用わけあり品。状態はA品に劣るが、わけあり品小売店等で売っていることもある。<br>価格目安はA品の50~80%。</font><br><br><p></p>
    <h3>Cランク</h3>
    <font size='4'>販売不適可食品。食べられるが、見た目や味などの点でA、B品に劣る。<br>価格目安はA品の50%未満。</font><br><br><p></p>
    <h3>Dランク</h3>
    <font size='4'>可食無洗浄無選別品。食べられる部位もあるが、状態が悪い。<br>価格目安は0円。</font><br><br><p></p>
    <h3>Gランク</h3>
    <font size='4'>A,B,Cランクの野菜ではあるが、農家からの好意で無償で提供されるもの。</font><br><br><p></p>
    <p class="border-bottom"></p><br>
</div>


{% endblock %}
