<div class="row">
    <div class="col-5 col-sm-3">
        <p>注文時間</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ reservation.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>注文数量</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  reservation.quontity }}セット</p>
    </div>
</div>
<!--
<div class="row">
    <div class="col-5 col-sm-3">
        <p>備考</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  reservation.memo|default_if_none:"未入力" }}</p>
    </div>
</div>
-->
<div class="row">
    <div class="col-5 col-sm-3">
        <p>合計金額</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>￥ {{ reservation.total_price }}</p>
    </div>
</div>

<div class="row">
    <br></br>

</div>

{% include "./f_item_detail_contents.html" %}
